<b>Ajánlott videók: </b>
<div class="row slider-container">
  <span>
    <button class="btn btn-dark control-button left-ctrl" (click)="prevVideo()">{{'<'}}</button>
  </span>
  <span class="outter-container">
    <div class="video-container" [innerHtml]="getSanitizedHtmlElement()">
    </div>
  </span>
  <span>
    <button class="btn btn-dark control-button right-ctrl" (click)="nextVideo()">{{'>'}}</button>
  </span>
  <span class="row recommendation">
    <div class="col-9">
      <b>Az én ajánlatom: (youtube link)</b>
      <input type="text" class="form-control" [(ngModel)]="requirement">
    </div>
    <div class="col-3">
      <button class="btn btn-dark" (click)="addNewRequirement()">Hozzáadás</button>
    </div>
  </span>
</div>

<hr>

<app-comments></app-comments>
