.video-container {
  font-size: 0;
  position: relative;
  overflow: hidden;
  padding-top: 58.7%;
}

.control-button {
  height: 500px;
}

.left-ctrl {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.right-ctrl {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.slider-container {
  margin-top: 20px;
  margin-left: 0 !important;
}

.outter-container {
  width: 59%;
  height: 500px;
}

.recommendation button{
  float: right;
  margin-top: 24px;
}

.recommendation {
  margin-top: 10px;
  width: 32%;
  margin-left: 10px;
}
