<b>Ajánlott videók: </b>
<div class="row slider-container">
  <div class="outter-container">
    <youtube-player
      [height]="'500px'"
      [width]="'100%'"
      [videoId]="getVideoId()"
      (ready)="savePlayer($event)"
    ></youtube-player>
  </div>
</div>

<div class="video-settings">
  <div class="row control-button">
    <div class="col-6">
      <button class="btn btn-dark left-ctrl" (click)="prevVideo()">{{'< Előző'}}</button>
    </div>
    <div class="col-6 no-padding-right">
      <button class="btn btn-dark right-ctrl" (click)="nextVideo()">{{'Következő >'}}</button>
    </div>
  </div>
  <div class="row recommendation">
    <span class="youtube-link">
      <b>Az én ajánlatom: (youtube link)</b>
      <input type="text" class="form-control" [(ngModel)]="requirement">
    </span>
    <span class="youtube-add-button">
      <button class="btn btn-dark" (click)="addNewRequirement()">Hozzáadás</button>
    </span>
  </div>
</div>

<hr>

<b style="margin-left: 30px;">Komment szekció: </b>
<app-comments></app-comments>
