.settings-wrapper {
  height: 800px;
}

.main-frame {
  margin: 10px;
}

.profile-settings {
  margin: 10px 10px 10px 30px;
  border-radius: 10px;
  border: 2px solid #808080b5;
  background-color: aliceblue;
  padding: 5px;
}

.inputs {
  margin-left: 10px;
}

.close-button {
  float: right;
  height: 20px;
  opacity: 0.75;
}
.close-button:hover {
  opacity: 1;
}

.names {
  margin: 15px;
  border: solid 2px cornflowerblue;
  border-radius: 6px;
  height: 80px;
  background-color: cornflowerblue;
  opacity: 0.85;
  max-width: 47.5%;
}
.names b {
  margin-top: 5px;
  font-weight: 800;
}

.user-image {
  float: right;
  height: 36px;
  border-radius: 18px;
  margin-left: 20px;
  margin-top: 5px;
}

.email {
  margin-left: 20px;
  color: aliceblue;
}

.my-card {
  border-color: indigo;
}
