#registry = http://internal-jfrog-1269719551.us-east-1.elb.amazonaws.com:80/npmjs/
loglevel = http
proxy = http://sjc1intproxy01.crd.ge.com:8080
https-proxy = http://sjc1intproxy01.crd.ge.com:8080
strict-ssl = false

