<div class="settings-wrapper">
  <div class="main-frame">
    <div>
      <b>Fiókbeállítások</b>
      <img src="../../assets/close.svg" class="close-button" (click)="closeSettings()">
    </div>
    <div class="profile-settings">
      <i>Meglévő fiók összekapcsolása a Facebook fiókkal</i>
      <div class="inputs">
        <div class="row user">
          <label>Felhasználónév: {{getUserName() | nameReverse}}</label>
        </div>
        <div class="row user">
          <button class="fb-button" (click)="socialSignIn()" [disabled]="isFbLoggedIn">
            <img class="fb-icon" src="../../assets/fb-icon.png" ngClass="{{isFbLoggedIn ? 'disabled-icon' : ''}}">
            Bejelentkezés Facebook-al
          </button>
          <img src="../../assets/checkmark.svg" class="checkmark-icon" *ngIf="isFbLoggedIn">
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-dark save-button" (click)="settingsSave()">Beállítások Mentése</button>
</div>
