<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <img src="../../assets/loginlogo.png" class="loginPicture">
    <div class="row"><b>Név: </b><input type="text" class="loginForm form-control" id="loginName"
                                        [(ngModel)]="loginName">
    </div>
    <div class="row"><b>Jelszó: </b><input type="password" class="loginForm form-control" id="loginPass"
                                           [(ngModel)]="loginPass">
    </div>
    <div class="row">
      <button class="btn btn-dark buttonGroup" (click)="login()">Bejelentkezés</button>
      <button class="btn btn-outline-dark buttonGroup" (click)="register(loginName, loginPass)">Regisztráció</button>
      <div class="share-button">
        <button class="fb-button" (click)="socialSignIn()"><img class="fb-icon" src="../../assets/fb-icon.png">Sign in with Facebook</button>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
