.loginForm {
  margin: 5px 5px 5px 5px;
  border-color: #007bff;
  border-radius: 5px;
}

.buttonGroup {
  margin: 5px 5px 5px 5px;
  width: 29%;
  font-weight: 700;
}

.loginPicture {
  width: 60%;
  margin-bottom: 20px;
}

.fb-login-button {
  margin-top: 4px;
}
.fb-icon {
  width: 32px;
  margin-right: 12px;
  padding-bottom: 6px;
}

.fb-button {
  background-color: #3b5998;
  border-width: 0;
  border-radius: 5px;
  height: 39px;
  color: white;
  font-weight: 700;
  padding-right: 29px;
  margin-left: -1%;
  width: 61%;
}

.invalid-name {
  color: #ff8080;
}

.main-login {
  margin-top: 5%;
  margin-left: 10%;
}

.inputs {
  width: 62%;
}
