.loginForm {
  margin: 5px 5px 5px 5px;
  border-color: #007bff;
  border-radius: 5px;
}

.buttonGroup {
  margin: 5px 5px 5px 5px;
  width: 25%;
  font-weight: 700;
}

.registerButton {
  background-color: #425d79;
}

.loginPicture {
  width: 60%;
  margin-bottom: 20px;
}

.share-button {
  margin-left: 24.6%;
}
