.payment-content {
  width: 100%;
}

.payment-status {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.calendar-content {
  overflow: auto;
  max-height: 541px;
  width: 100%;
  margin-left: 0;
}

.outter-content {
  margin-bottom: 20px;
}

.chart-wrapper {
  position: relative;
  width: 800px;
  height: 450px;
}

.list-element {
  display: block;
}

.list-element:nth-child(even) {
  background: #CCC
}

.list-element:nth-child(odd) {
  background: #FFF
}
