.header-line {
  background-color: white;
  margin-left: 0;
}

.main-page {
  overflow-x: hidden;
  overflow-y: hidden;
}

.logoutButton {
  float: right;
  margin: 5px 5px 5px 5px;
}

.balet-woman {
  width: 100%;
  height: 100%;
  background: url(../assets/loginlogo.png) no-repeat top left;
  background-size: contain;
  float: left;
}

.tab-pane,
.menu-item {
  background-color: #0f52ba;
  border-radius: 0;
  height: 100%;
}

.menu-item:hover {
  background-color: rgba(15, 82, 186, 0.2);
}

.event-flow-wrapper {
  opacity: 0.7;
  width: 70%;
  height: 907px;
  overflow-y: auto;
  padding-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-flow {
  max-height: 127%;
  left: 16%;
  top: 10%;
  z-index: 2;
  opacity: 0.8;
}

.fb-image {
  width: 40px;
  border-radius: 20px;
  margin-right: 12px;
}

#settings-icon {
  margin-top: 2px;
  margin-right: 5px;
  height: 44px;
  opacity: 0.75;
}
#settings-icon:hover {
  opacity: 1;
}

#users-icon {
  margin-top: 2px;
  margin-right: 5px;
  height: 44px;
  opacity: 0.6;
}
#users-icon:hover {
  opacity: 1;
}

.absolute-container {
  position: absolute !important;
  left: 88% !important;
}
