<app-login *ngIf="!isLoggedInAdmin()"></app-login>

<div class="main-page" *ngIf="isLoggedInAdmin()">

  <div class="header-line row">
    <div class="col-10">
      <button class="btn btn-primary logoutButton" (click)="logout()">Logout</button>
    </div>
    <div class="col-2">
      <div class="balet-woman"></div>
    </div>
  </div>

  <div class="row content">
    <div class="tab-pane col-2">
      <button class="menu-item btn btn-light-blue col-12" (click)="showTimeTable()">Órarend</button>
      <button class="menu-item btn btn-light-blue col-12" (click)="showPersonalClasses()">Különórák</button>
      <button class="menu-item btn btn-light-blue col-12" (click)="showPayments()">Befizetések</button>
      <div class="col-12" style="min-height: 500px"></div>
    </div>

    <div class="tab-content col-10">
      <app-time-table [isShow]="isShowTimeTable"></app-time-table>
      <app-alternative-calendar [isShow]="isShowPersonalClasses"></app-alternative-calendar>
      <app-payments [isShow]="isShowPayments"></app-payments>
    </div>
  </div>
</div>
