.header-line {
  background-color: white;
  margin-left: 0;
}

.main-page {
  overflow-x: hidden;
  overflow-y: hidden;
}

.logoutButton {
  float: right;
  margin: 5px 5px 5px 5px;
}

.balet-woman {
  width: 100%;
  height: 100%;
  background: url(../assets/loginlogo.png) no-repeat top left;
  background-size: contain;
  float: left;
}

.tab-pane,
.menu-item {
  background-color: #0f52ba;
  border-radius: 0;
  height: 100%;
}

.menu-item:hover {
  background-color: rgba(15, 82, 186, 0.2);
}

.image {
  opacity: 0.5;
  width: 67%;
  height: 67%;
}

.event-flow {
  max-height: 66%;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 30%;
  z-index: 2;
  opacity: 0.8;
}

.fb-image {
  width: 40px;
  border-radius: 20px;
  margin-right: 12px;
}
