.header-line {
  background-color: #8f8f8f;
  margin-left: 0;
}

.main-page {
  overflow-x: hidden;
}

.logoutButton {
  margin: 5px 5px 5px 5px;
}

.balet-woman {
  width: 50px;
  height: 50px;
  background: url(../assets/balett-woman.svg) no-repeat top left;
  background-size: contain;
  float: right;
}

.tab-pane,
.menu-item {
  background-color: azure;
  border-radius: 0;
  height: 100%;
}

.menu-item:hover {
  background-color: aquamarine;
}

.payment-content {
  width: 100%;
}

.payment-status {
  width: 20px;
  height: 20px;
}
