.wrapper {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  min-width: 1000px;
}

.username {
  float: right;
}

.blue {
  background-color: rgb(135, 206, 250);
}

.green {
  background-color: rgb(106, 90, 205);
  color: lightcyan;
}

.red {
  background-color: rgb(25, 25, 112);
  color: white;
}
