<div *ngFor="let event of eventFlow" class="wrapper"
     [ngClass]="getColourClass(event.priority)">
  <div class="row">
    <div class="header col-6">{{event.timestamp | dateTimeFormatter}}</div>
    <div class="user col-6">
      <p *ngIf="!getProfileImage(event.username)" class="username">{{event.username}}</p>
      <img *ngIf="getProfileImage(event.username)" [src]="getProfileImage(event.username)" class="user-image">
    </div>
  </div>
  <div *ngIf="event.priority === 0" class="content">{{event.content + ' on ' + event.source}}</div>
  <div *ngIf="event.priority === 1" class="content">{{getContentOfPersonalClass(event)}}</div>
  <div *ngIf="event.priority === 2" class="content">{{getPriorityContent(event.content)}}</div>
</div>
