/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css';

body {
  font-family: Rockwell, sans-serif;
}

.fc-button {
  color: #fff !important;
  display: inline-block !important;
  font-weight: 400 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  border: 1px solid transparent !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
  background: #007bff none !important;
}

.fc-icon.fc-icon-left-single-arrow,
.fc-icon.fc-icon-right-single-arrow {
  margin-bottom: 5px !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.fc-prev-button,
.fc-next-button {
  box-shadow: none !important;
  text-shadow: none !important;
}

.modal-xl {
  max-width: 770px !important;
}

.svg-tool-icon {
  width: 25px;
}

.cal-event {
  color: white !important;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: #666 !important;
  border-radius: 20px !important;
}

::-webkit-scrollbar-track {
  background: #ddd !important;
  border-radius: 20px !important;
}

.special-event,
.event-element {
  opacity: 0.8;
}


.special-date {
  color: lightcoral;
}

.personal-date {
  color: #72d3ff;
}
