.logoutButton {
  margin: 5px 5px 5px 5px;
}

.invalid-name {
  color: #ff8080;
}

.trainer-buttons {
  margin-bottom: 10px;
}

.calendar-content {
  overflow: auto;
  max-height: 541px;
  width: 100%;
  margin-left: 0;
}

.outter-content {
  margin-bottom: 20px;
}

.add-button {
  margin-top: 24px;
}

.calendar-change {
  padding-top: 24px;
  padding-right: 0;
}

.right-cal {
  float: right;
}

.wrapper {
  margin-right: 2px;
  height: 86px;
}

.trainer-dropdown {
  padding-left: 0;
}

.btn-groupped {
  border-left-color: white;
  border-right-color: white;
}

.weekly {
  margin-left: 40%;
}
