.logoutButton {
  margin: 5px 5px 5px 5px;
}

.trainer-buttons {
  margin-bottom: 10px;
}

.calendar-content {
  overflow: hidden;
  max-height: 541px;
  width: 100%;
  margin-left: 0;
}

.outter-content {
  margin-bottom: 20px;
}

.add-button {
  margin-top: 24px;
}

.calendar-change {
  padding-top: 24px;
}

.right-cal {
  margin-bottom: 24px;
  float: right;
}

.wrapper {
  margin-right: 2px;
}

.modal-text {
  margin-left: 10px;
  font-weight: 700;
}

.modal-inputs {
  margin-left: 20px;
}
.modal-inputs input {
  border-radius: 5px;
}
