<div class="comment-field">
  <div class="input-control d-flex flex-wrap">
    <div class="col-10 comment-input">
      <textarea type="text" class="form-control" [(ngModel)]="newComment"></textarea>
    </div>
    <div class="col-2">
      <button class="btn btn-dark" (click)="addComment(newComment)">Komment Hozzáadása</button>
    </div>
  </div>
  <div class="row comments">
    <div *ngFor="let comm of comments" class="comment-element">
      <b>{{comm.name}}</b>
      <i>{{' ' + (comm.created_date | dateTimeFormatter)}}</i>
      <pre>{{comm.comment}}</pre>
    </div>
  </div>
</div>
